@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 223.64 89.19% 92.75%;

    --primary: 223.73 91.09% 51.57%;
    --primary-foreground: 0 0% 100%;

    --card: 220 31.03% 5.69%;
    --card-foreground: 223.64 89.19% 92.75%;

    --popover: 0 0% 0%;
    --popover-foreground: 223.64 89.19% 92.75%;

    --secondary: 223.85 84.78% 18.04%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 9.8%;
    --muted-foreground: 0 0% 50.2%;

    --accent: 223.85 84.78% 18.04%;
    --accent-foreground: 223.64 89.19% 92.75%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 224 84.91% 10.39%;
    --input: 0 0% 14.9%;
    --ring: 223.73 91.09% 51.57%;

    --chart-1: 223.73 91.09% 51.57%;
    --chart-2: 223.66 85.65% 43.73%;
    --chart-3: 223.67 85.96% 33.53%;
    --chart-4: 223.55 86.11% 28.24%;
    --chart-5: 223.96 84.87% 23.33%;
    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 223.64 89.19% 92.75%;

    --primary: 223.73 91.09% 51.57%;
    --primary-foreground: 0 0% 100%;

    --card: 220 31.03% 5.69%;
    --card-foreground: 223.64 89.19% 92.75%;

    --popover: 0 0% 0%;
    --popover-foreground: 223.64 89.19% 92.75%;

    --secondary: 223.85 84.78% 18.04%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 9.8%;
    --muted-foreground: 0 0% 50.2%;

    --accent: 223.85 84.78% 18.04%;
    --accent-foreground: 223.64 89.19% 92.75%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 224 84.91% 10.39%;
    --input: 0 0% 14.9%;
    --ring: 223.73 91.09% 51.57%;

    --chart-1: 223.73 91.09% 51.57%;
    --chart-2: 223.66 85.65% 43.73%;
    --chart-3: 223.67 85.96% 33.53%;
    --chart-4: 223.55 86.11% 28.24%;
    --chart-5: 223.96 84.87% 23.33%;
    --radius: 0.5rem;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.css-color-code-and-parenthesis {
  color: color-mix(in srgb, hsl(var(--primary)), hsl(var(--foreground)) 50%);
}
